<!--! Template for generating rows corresponding to directory entries -->
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">
  <td class="name"><a class="dir" href="${href.documents(cmis_objects[idx].getObjectId())}">${cmis_objects[idx].getTitle()}</a></td>
  <td class="size"></td>
  <td class="date">${cmis_objects[idx].getProperties()['cmis:creationDate']}</td>
  <td class="date">${cmis_objects[idx].getProperties()['cmis:lastModificationDate']}</td>
  <td class="creator">${cmis_objects[idx].getProperties()['cmis:createdBy']}</td>
</html>